*{
    box-sizing: border-box;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
}

/* //=================================== */
/* //=========Media Queries================ */
@media screen and (max-width: 768px) {
    .testimonial-card{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 576px) {
    .testimonial-card{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .testimonial-card{
        display: flex;
        flex-direction: column;
    }
}